@import "~bootstrap";

$view-scales: [25, 50];

@each $scale in $view-scales {
  .vw-#{$scale} {
    width: $scale * 1vw;
    max-width: $scale * 1vw;
  }
  .vh-#{$scale} {
    height: $scale * 1vh;
    max-height: $scale * 1vh;
  }
}
